<%-include('./templates/header')%>    

<%-include('./templates/nav')%>  


<main>
    <h1>Aqui se Actualiza el servicio</h1>
</main>
<form action="http://localhost:3000/admin/servicio/actualizando/<%=servicioEncontrado._id%>" method="POST">
    <!-- <input type="text" value="<%=servicioEncontrado._id%>"> -->
    <input type="text" id="servicio" name="servicio" value="<%=servicioEncontrado.servicio%>">
    <textarea name="descripcion" id="descripcion" cols="30" rows="10"><%=servicioEncontrado.descripcion%></textarea>
    <input type="submit" value="Actualizar">
</form>


<%-include('./templates/footer')%>  